<%= simple_form_for(@vehicule, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.input :name %>
    </div>
    <div class="form-group">
      <%= f.input :vehicule_type, :as => :select, :collection => Vehicule.vehicule_types.keys.to_a %>
    </div>
    <div class="form-group">
      <%= f.input :info %>
    </div>
    <div class="form-group">
      <%= f.file_field :display_image %>
    </div>
    <div class="form-group">
      <%= f.input :seats %>
    </div>
    <div class="form-group">
      <%= f.input :tv %>
    </div>
    <div class="form-group">
      <%= f.input :bathroom %>
    </div>
    <div class="form-group">
      <%= f.input :dvd_player %>
    </div>
    <div class="form-group">
      <%= f.input :cd_player %>
    </div>
    <div class="form-group">
      <%= f.input :am_fm_radio %>
    </div>
    <div class="form-group">
      <%= f.input :cooler %>
    </div>
    <div class="form-group">
      <%= f.input :nav_system %>
    </div>
    <div class="form-group">
      <%= f.input :sound_system %>
    </div>
    <div class="form-group">
      <%= f.input :wheelchair %>
      </div>
    <div class="form-group">
      <%= f.input :bluetooth %>
    </div>
    <div class="form-group">
      <%= f.input :leather %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
