<%= simple_form_for(@vehicule, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.input :name, input_html: {class: "form-control white_bg"}%>
    </div>
    <div class="form-group">
      <%= f.input :vehicule_type, :as => :select, :collection => Vehicule.vehicule_types.keys.to_a, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-group">
      <%= f.input :info, input_html: {class: "white_bg", :cols => 85, :rows => 8 } %>
    </div>
    <%= image_tag @vehicule.display_image, height: '150' %>
    <div class="form-group">
      <%= f.file_field :display_image %>
    </div>
    <div class="form-group">
      <%= f.input :seats, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-group">
      <%= f.input :tv %>
    </div>
    <div class="form-group">
      <%= f.input :bathroom %>
    </div>
    <div class="form-group">
      <%= f.input :dvd_player %>
    </div>
    <div class="form-group">
      <%= f.input :cd_player %>
    </div>
    <div class="form-group">
      <%= f.input :am_fm_radio %>
    </div>
    <div class="form-group">
      <%= f.input :cooler %>
    </div>
    <div class="form-group">
      <%= f.input :nav_system %>
    </div>
    <div class="form-group">
      <%= f.input :sound_system %>
    </div>
    <div class="form-group">
      <%= f.input :wheelchair %>
      </div>
    <div class="form-group">
      <%= f.input :bluetooth %>
    </div>
    <div class="form-group">
      <%= f.input :leather %>
    </div>

    <%= f.simple_fields_for :vehicule_images do |p| %>
     <div class="field">
      <%= image_tag p.object.photo, height: '150' %>
      <%= p.file_field :photo %>
      <%= p.check_box :_destroy %>
      <%= p.label :_destroy, "Remove Image" %>
     </div>
   <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
