
  <p id="notice"><%= notice %></p>

  <h1>Vehicules</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Type</th>
        <th>Info</th>
        <th>Seats</th>
        <th>Tv</th>
        <th>Bathroom</th>
        <th>Dvd player</th>
        <th>Cd player</th>
        <th>Am fm radio</th>
        <th>Cooler</th>
        <th>Nav system</th>
        <th>Sound system</th>
        <th>Wheelchair</th>
        <th>Bluetooth</th>
        <th>Leather</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @vehicules.each do |vehicule| %>
        <tr>
          <td><%= vehicule.name %></td>
          <td><%= image_tag vehicule.display_image_url() if vehicule.display_image? %></td>
          <td><%= vehicule.vehicule_type %></td>
          <td><%= vehicule.info %></td>
          <td><%= vehicule.seats %></td>
          <td><%= vehicule.tv %></td>
          <td><%= vehicule.bathroom %></td>
          <td><%= vehicule.dvd_player %></td>
          <td><%= vehicule.cd_player %></td>
          <td><%= vehicule.am_fm_radio %></td>
          <td><%= vehicule.cooler %></td>
          <td><%= vehicule.nav_system %></td>
          <td><%= vehicule.sound_system %></td>
          <td><%= vehicule.wheelchair %></td>
          <td><%= vehicule.bluetooth %></td>
          <td><%= vehicule.leather %></td>
          <td><%= link_to 'Show', vehicule %></td>
          <td><%= link_to 'Edit', edit_vehicule_path(vehicule) %></td>
          <td><%= link_to 'Destroy', vehicule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>

  <%= link_to 'New Vehicule', new_vehicule_path, class: "btn" %>
