<div class="container">
  <p id="notice"><%= notice %></p>

  <h2>Quotes</h2>
  <div>
    <p>
    <%= search_form_for @q do |f| %>
      <div style="width:30%;float:left;padding-right:10px;padding-bottom:10px">
        <%= f.label :email_cont%>
        <%= f.search_field :email_cont, class: "form-control white_bg" %>
      </div>
      <div style="width:30%;float:left;padding-right:10px;padding-bottom:10px">
        <%= f.label :first_name_cont%>
        <%= f.search_field :first_name_cont, class: "form-control white_bg" %>
      </div>
      <div style="width:30%;float:left;padding-bottom:10px">
        <%= f.label :last_name_cont%>
        <%= f.search_field :last_name_cont, class: "form-control white_bg" %>
      </div>
      <div>
        <%= f.submit class: "btn" %>
      </div>
    <% end %>
    </p>
  </div>
  <div class="table-paginate"><%= will_paginate(@quotes, :renderer => 'BootstrapPaginationHelper::LinkRenderer' ) %></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date Rec</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Type</th>
        <th>Invoice</th>
        <th>Assign</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @quotes.each do |quote| %>
        <tr>
          <td><%= quote.created_at.strftime("%m/%d/%Y %I:%M %p") %></td>
          <td><%= quote.first_name %></td>
          <td><%= quote.last_name %></td>
          <td><%= quote.email %></td>
          <td><%= quote.phone_number %></td>
          <td><%= quote.type %></td>
          <td><ul class="quote-invoice-status"><% if quote.invoices.count 
                    quote.invoices.each do |inv| %>
                      <li><%= link_to inv.status, inv %></li>
                    <% end
                  end %>
          </ul></td>
          <td>
            <% if quote.user.nil? %>
              <%= simple_form_for quote, url: update_quote_assigned_user_path(quote), method: :patch do |f| %>
                <div class="form-group select">
                  <%= f.input :user_id , collection: @users_select, input_html: { class: "form-control white_bg" }, label: false %>
                </div>
                <div class="form-group">
                  <%= f.button :submit, value: "Assign", class: "btn btn-success" %>
                </div>
              <% end %>
            <% else %>
              <%= quote.user.email %>
            <% end %>
          </td> 
          <td><%= link_to 'Show', quote_path(quote) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
