<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @quote.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @quote.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quote.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @quote.phone_number %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @quote.service_type %>
</p>

<p>
  <strong>Vehicule type:</strong>
  <%= @quote.vehicule_type %>
</p>

<p>
  <strong>Number of people:</strong>
  <%= @quote.number_of_people %>
</p>

<div>
  <table>
    <thead>
      <tr>
        <th>Body</th>
      </tr>
    </thead>

    <tbody>
      <% @quote.messages.each do |message| %>
        <tr>
          <td><%= message.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>  
<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
