<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="col-md-4 col-sm-8">
    <div class="profile_wrap">
      <dl class="dl-horizontal">
        <dt><strong>first name:</strong></dt>
        <dd><%= @quote.first_name %></dd>
        <dt><strong>last name:</strong></dt>
        <dd><%= @quote.last_name %></dd>
        <dt><strong>email:</strong></dt>
        <dd><%= @quote.email %></dd>
        <dt><strong>phone number:</strong></dt>
        <dd><%= @quote.phone_number %></dd>
        <dt><strong>organization:</strong></dt>
        <dd><%= @quote.organization %></dd>
        <dt><strong>type:</strong></dt>
        <dd><%= @quote.type %></dd>
         <dt><strong>airport:</strong></dt>
        <dd><%= @quote.airport %></dd>
        <dt><strong>flight num:</strong></dt>
        <dd><%= @quote.flight_num %></dd>
        <dt><strong>flight departure time:</strong></dt>
        <dd><%= @quote.flight_departure_time %></dd>

      </dl>
    </div>
  </div>

  <div class="col-md-4 col-sm-8">
    <div class="profile_wrap">
      <dl class="dl-horizontal">
        <dt><strong>customer:</strong></dt>
        <dd><%= @quote.customer_id %></dd>
        <dt><strong>vehicule type:</strong></dt>
        <dd><%= @quote.vehicule_type %></dd>
        <dt><strong>Number of passengers:</strong></dt>
        <dd><%= @quote.num_of_passengers %></dd>
        <dt><strong>Number of bags:</strong></dt>
        <dd><%= @quote.num_of_bags %></dd>
        <dt><strong>address:</strong></dt>
        <dd><%= @quote.address %></dd>
        <dt><strong>extension:</strong></dt>
        <dd><%= @quote.extension %></dd>
        <dt><strong>departure_date:</strong></dt>
        <dd><%= @quote.departure_date %></dd>
        <dt><strong>departure_address:</strong></dt>
        <dd><%= @quote.departure_address %></dd>
        <dt><strong>destination_address:</strong></dt>
        <dd><%= @quote.destination_address %></dd>
        
      </dl>
    </div>
  </div>
  <div class="col-md-4 col-sm-8">
    <div class="profile_wrap">
      <dl class="dl-horizontal">
        <dt><strong>itinirary:</strong></dt>
        <dd><%= @quote.itinirary %></dd>
        <dt><strong>Additional Notes:</strong></dt>
        <dd><%= @quote.additional_notes %></dd>
        <dt><strong>total_num_of_days:</strong></dt>
        <dd><%= @quote.total_num_of_days %></dd>
        <dt><strong>Return date:</strong></dt>
        <dd><%= @quote.return_date %></dd>
        <dt><strong>return time:</strong></dt>
        <dd><%= @quote.return_time %></dd>
        <dt><strong>Payment method:</strong></dt>
        <dd><%= @quote.pay_method %></dd>
      </dl>
    </div>
  </div>
<hr style="clear:both"/>
<div> <%= link_to "Convert to Invoice", "#" , class: "btn" %></div>
  <div class="panel-body">
    <ul class="chat">
      <% @messages.each do |message| %>
        <% if message.owner == "user" %>
          <li class="left clearfix"><span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff&text=REP" alt="User Avatar" class="img-circle" />
          </span>
              <div class="chat-body clearfix">
                  <div class="header">
                      <strong class="primary-font"><%= message.user.full_name %></strong> <small class="pull-right text-muted">
                          <span class="glyphicon glyphicon-time"></span><%= message.created_at.strftime("%b-%d-%Y at %I:%M %p") %></small>
                  </div>
                  <%= simple_format message.body %>
              </div>
          </li>
        <% elsif message.owner == "customer" %>
          <li class="right clearfix"><span class="chat-img pull-right">
              <img src="http://placehold.it/50/FA6F57/fff&text=CUST" alt="User Avatar" class="img-circle" />
          </span>
              <div class="chat-body clearfix">
                  <div class="header">
                      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= message.created_at.strftime("%b-%d-%Y at %I:%M %p") %></small>
                      <strong class="pull-right primary-font"><%= message.customer.full_name %></strong>
                  </div>
                  <%= simple_format message.body %>
              </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div> 

  <div class="row" style="padding-bottom:20px">
    <div class="col-md-12">
      <%= simple_form_for(@message) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :quote_id, as: :hidden %>
          <%= f.input :user_id, as: :hidden %>
          <div class="row">
            <div class="form-group col-md-8">
              <%= f.input :body, autofocus: true, as: :text, input_html: {class: " white_bg", :cols => 105, :rows => 8 } %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>