<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="col-md-4 col-sm-8">
    <div class="profile_wrap">
      <dl class="dl-horizontal">
        <dt><strong>first name:</strong></dt>
        <dd><%= @quote.first_name %></dd>
        <dt><strong>last name:</strong></dt>
        <dd><%= @quote.last_name %></dd>
        <dt><strong>email:</strong></dt>
        <dd><%= @quote.email %></dd>
        <dt><strong>phone number:</strong></dt>
        <dd><%= @quote.phone_number %></dd>
        <dt><strong>organization:</strong></dt>
        <dd><%= @quote.organization %></dd>
        <dt><strong>type:</strong></dt>
        <dd><%= @quote.type %></dd>
         <dt><strong>airport:</strong></dt>
        <dd><%= @quote.airport %></dd>
        <dt><strong>flight num:</strong></dt>
        <dd><%= @quote.flight_num %></dd>
        <dt><strong>flight departure time:</strong></dt>
        <dd><%= @quote.departure_time.strftime("%I:%M %p") unless @quote.departure_time.nil? %></dd>

      </dl>
    </div>
  </div>

  <div class="col-md-4 col-sm-8">
    <div class="profile_wrap">
      <dl class="dl-horizontal">
        <dt><strong>customer:</strong></dt>
        <dd><%= @quote.customer_id %></dd>
        <dt><strong>vehicule type:</strong></dt>
        <dd><%= @quote.vehicule_type %></dd>
        <dt><strong>Number of passengers:</strong></dt>
        <dd><%= @quote.num_of_passengers %></dd>
        <dt><strong>Number of bags:</strong></dt>
        <dd><%= @quote.num_of_bags %></dd>
        <dt><strong>address:</strong></dt>
        <dd><%= @quote.address %></dd>
        <dt><strong>extension:</strong></dt>
        <dd><%= @quote.extension %></dd>
        <dt><strong>departure_date:</strong></dt>
        <dd><%= @quote.departure_date.strftime("%b %d, %Y") unless @quote.departure_date.nil?%></dd>
        <dt><strong>departure_address:</strong></dt>
        <dd><%= @quote.departure_address %></dd>
        <dt><strong>destination_address:</strong></dt>
        <dd><%= @quote.destination_address %></dd>
        
      </dl>
    </div>
  </div>
  <div class="col-md-4 col-sm-8">
    <div class="profile_wrap">
      <dl class="dl-horizontal">
        <dt><strong>total_num_of_days:</strong></dt>
        <dd><%= @quote.total_num_of_days %></dd>
        <dt><strong>Return date:</strong></dt>
        <dd><%= @quote.return_date.strftime("%b %d, %Y") unless @quote.return_date.nil? %></dd>
        <dt><strong>return time:</strong></dt>
        <dd><%= @quote.return_time.strftime("%I:%M %p") unless @quote.return_time.nil? %></dd>
        <dt><strong>Payment method:</strong></dt>
        <dd><%= @quote.pay_method %></dd>
      </dl>
    </div>
  </div>

  <div class="col-md-12">
    <div class="profile_wrap">
      <dl class="dl-horizontal">
        <dt><strong>itinirary:</strong></dt>
        <dd><%= @quote.itinirary %></dd>
      </dl>
    </div>
  </div>
  <div class="col-md-12">
    <div class="profile_wrap">
      <dl class="dl-horizontal">
        <dt><strong>Additional Notes:</strong></dt>
        <dd><%= @quote.additional_notes %></dd>
      </dl>
    </div>
  </div>

  <hr style="clear:both"/>
  <div class="col-md-9" style="padding:10px;background-color:#3deb73;">
    <% if @quote.invoices.count > 0 %> 
      <h5>Related Invoice(s)</h5>
      <ul>
        <% @quote.invoices.each do |invoice| %>
          <li style="font-size:1.5em"><%= link_to "Related Invoice", invoice_path(invoice.id)  %></li>
        <% end %>
      </ul>
    <% else %>
      <%= link_to "Convert to Invoice", new_invoice_path(quote_id: @quote.id) , class: "btn" %>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= simple_form_for @quote, url: update_quote_assigned_user_path(@quote), method: :patch do |f| %>
      <div class="form-group select">
        <%= f.input :user_id , collection: @users_select, input_html: { class: "form-control white_bg" }, label: false %>
      </div>
      <div class="form-group">
        <%= f.button :submit, value: "Re-Assign", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

  <div class="panel-body">
    <ul class="chat">
      <% @messages.each do |message| %>
        <% if message.owner == "user" %>
          <li class="left clearfix"><span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff&text=REP" alt="User Avatar" class="img-circle" />
          </span>
              <div class="chat-body clearfix">
                  <div class="header">
                      <strong class="primary-font"><%= message.user.full_name %></strong> <small class="pull-right text-muted">
                          <span class="glyphicon glyphicon-time"></span><%= message.created_at.strftime("%b-%d-%Y at %I:%M %p") %></small>
                  </div>
                  <%= simple_format message.body %>
              </div>
          </li>
        <% elsif message.owner == "customer" %>
          <li class="right clearfix"><span class="chat-img pull-right">
              <img src="http://placehold.it/50/FA6F57/fff&text=CUST" alt="User Avatar" class="img-circle" />
          </span>
              <div class="chat-body clearfix">
                  <div class="header">
                      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= message.created_at.strftime("%b-%d-%Y at %I:%M %p") %></small>
                      <strong class="pull-right primary-font"><%= message.quote.full_name %></strong>
                  </div>
                  <%= simple_format message.body %>
              </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div> 

  <div class="row" style="padding-bottom:20px">
    <div class="col-md-12">
      <%= simple_form_for(@message, url: create_message_for_quote_path(@quote), method: :post) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :quote_id, as: :hidden %>
          <%= f.input :user_id, as: :hidden %>
          <div class="row">
            <div class="form-group col-md-8">
              <%= f.input :body, autofocus: true, as: :text, input_html: {class: " white_bg", :cols => 105, :rows => 8 } %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>