<%# @quote.type = "ContractQuote" %>
<%= simple_form_for(@contract_quote, url: create_quote_request_path(anchor: "4b"), method: :post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :type, as: :hidden %>
    
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.input :first_name, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-4">
        <%= f.input :last_name, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-4">
        <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.input :organization, autofocus: true, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-4">
        <%= f.input :phone_number, autofocus: true, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-4">
        <%= f.input :extension, autofocus: true, input_html: {class: "form-control white_bg"} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-7">
        <%= f.input :additional_notes, autofocus: true, as: :text, input_html: {class: "white_bg", :cols => 85, :rows => 8 } %>
      </div>
      <div class="form-group col-md-4">
        <div id="example4"></div>
        <br />
        <%= f.button :submit, "Submit Quote"%>
      </div>
    </div>
  </div>

<% end %>
