<div class="invoice_form">
  <%= simple_form_for(@invoice) do |f| %>
    <%= f.error_notification %>

    <%= f.input :price, as: :hidden %>
    <%= f.input :permalink, as: :hidden %>
    <%= f.input :name, as: :hidden %>
    
    <div class="row">
      <%= f.input :quote_id, as: :hidden %>
      <div class="form-group col-md-6">
        <%= f.association :customer, collection: Customer.where(active: true).map{|c| ["#{c.full_name} - (#{c.email})", c.id]}, input_html: { class: 'chosen-select' } %>
      </div>
      <div class="form-group col-md-6">
        <%= f.association :sales_rep, collection: User.where(active: true).map{|c| ["#{c.full_name} - (#{c.email})", c.id]}, input_html: { class: 'chosen-select form-control white_bg' } %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <%= f.association :vehicule, collection: Vehicule.all.map{|c| [c.name, c.id]}, input_html: { class: 'chosen-select form-control white_bg' } %>
      </div>
      <div class="form-group col-md-6">
        <%= f.input :unit, input_html: {class: "form-control white_bg"} %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <%= f.input :date_needed, as: :string, input_html: {class: "form-control white_bg datepicker"} %>
      </div>
      <div class="form-group col-md-4">
        <%= f.input :date_reserved, as: :string,  input_html: {class: "form-control white_bg datepicker"} %>
      </div>
      <div class="form-group col-md-4">
        <%= f.input :time_reserved, as: :string, input_html: {class: "form-control white_bg", :data =>{:provide => "timepicker"}} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <%= f.input :first_name, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.input :last_name, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.input :phone, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.input :email, input_html: {class: "form-control white_bg"} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-10">
        <%= f.input :itinerary,  input_html: { class: "form-control white_bg", :cols => 65, :rows => 8} %>
      </div>
      <div class="form-group col-md-2">
        <%= f.input :handicap_accessible, input_html: {class: "form-control white_bg"} %>
        <br /><br /><br />
        <%= f.input :public_availability, input_html: {class: "form-control white_bg"} %>
      </div>
    </div>

    <div class="row">
      
      <div class="form-group col-md-3">
        <%= f.input :method_of_pay,  input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.input :rate, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.input :sales_tax, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.input :deposit,  input_html: {class: "form-control white_bg"} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <%= f.input :amount_due, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.input :additional_charges, input_html: {class: "form-control white_bg"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.input :total_collected, input_html: {class: "form-control white_bg"} %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>