<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @invoice.price %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @invoice.permalink %>
</p>

<p>
  <strong>Name:</strong>
  <%= @invoice.name %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @invoice.quote %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
