<%= simple_form_for(@applicant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :position, :as => :select, :collection => Applicant.positions.keys.to_a, input_html: {class: "form-control white_bg"} %>
    <%= link_to "Resume", @applicant.resume_url() if @applicant.resume? %>
    <%= f.file_field :resume %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
