<%= simple_form_for(@user , :url => user_path(@user)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <div class="form-group">
      <%= f.input :first_name, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-group">
      <%= f.input :last_name, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-group">
      <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-group">
      <%= f.input :admin, autofocus: true, input_html: {class: " "} %>
    </div>
    <div class="form-group">
      <%= f.input :password, label: "password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: {class: "form-control white_bg"} %>
      </div>
    <div class="form-group">
      <%= f.input :password_confirmation, label: "Confirm your new password", required: true, input_html: {class: "form-control white_bg"} %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>  
<% end %>
