<!--Page Header-->
<section class="page-header contactus_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>Contact Us</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<!-- /Page Header--> 

<!--Contact-us-->
<section class="contact_us section-padding">
  <div class="container">
    <div  class="row">
      <div class="col-md-6">
        <h3>Get in touch using the form below</h3>
        <div class="contact_form gray-bg">
          <%= simple_form_for(@contact_us_quote, url: create_contact_us_quote_request_path(), method: :post) do |f| %>
            <%= f.error_notification %>
            <%= f.input :type, as: :hidden %>
            <div class="form-group" style="float:left;width:50%;padding-right:10px;">
              <%= f.input :first_name, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
            </div>
            <div class="form-group" style="float:left;width:50%;padding-left:10px;">
              <%= f.input :last_name, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
            </div>
            <div class="form-group" style="clear:both">
              <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
            </div>
            <div class="form-group">
              <%= f.input :phone_number, autofocus: true, input_html: {class: "form-control white_bg"} %>
            </div>
            <div class="form-group">
              <%= f.input :additional_notes, autofocus: true, as: :text, input_html: {class: "white_bg", :cols => 60, :rows => 8 } %>
            </div>
            <div class="form-group">
              <%= f.button :submit, "Send Message"%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Contact Info</h3>
        <div class="contact_detail">
          <ul>
            <li>
              <div class="icon_wrap"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              <div class="contact_info_m">1640 E 5th Ave, Columbus, OH 43219</div>
            </li>
            <li>
              <div class="icon_wrap"><i class="fa fa-phone" aria-hidden="true"></i></div>
              <div class="contact_info_m">Local: <a href="tel:614-253-7000">(614) 253-7000</a> / Toll Free: <a href="tel:877-840-0411">(877) 840-0411</a>

              </div>
            </li>
            <li>
              <div class="icon_wrap"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
              <div class="contact_info_m"><a href="mailto:info@urbanexpresscharter.com">info@urbanexpresscharter.com</a></div>
            </li>
          </ul>
          <div class="map_wrap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3057.0253331927374!2d-82.9604737!3d39.9855392!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8838890e2b96113f%3A0x4edbb7cd87e61b39!2s1640+E+5th+Ave%2C+Columbus%2C+OH+43219!5e0!3m2!1sen!2sus!4v1420356286061" frameborder="0" width="100%" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Contact-us--> 
