<!--Page Header-->
<section class="page-header listing_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>Our Fleet</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Our Fleet</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay" style="background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;"></div>
</section>
<!-- /Page Header--> 
  
    
<!--Listing-->
<section class="listing-page">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <% @vehicules.each do |vehicule| %>        
          <div class="product-listing-m gray-bg">
            <div class="product-listing-img"> 
              <a href="<%= vehicule.display_image_url() %>" data-lightbox=<%= "example-set-#{vehicule.id}" %> data-title="Click the right half of the image to move forward."><%= image_tag( vehicule.display_image_url(), class: "img-responsive" ) if vehicule.display_image? %> 
              </a>
              <% vehicule.vehicule_images.each do |vec_im| %>
                <%= link_to "", vec_im.photo_url(), class: "img-responsive", :data => { :lightbox => "example-set-#{vehicule.id}", :title => "Or press the right arrow on your keyboard." } %>
              <% end %>
            </div>
            <div class="product-listing-content">
              <h6><a href=<%= vehicule_details_path(vehicule.id) %> ><%= vehicule.name %></a></h6>
              <ul>
                <% if vehicule.amenities.include?("tv") %>
              <li> <i class="fa fa-television" aria-hidden="true"></i>
                flat screen tv
              </li>
            <% end %>
            <% if vehicule.amenities.include?("bathroom") %>
              <li> <i class="fa fa-bath" aria-hidden="true"></i>
                Bathroom
              </li>
            <% end %>
            <% if vehicule.amenities.include?("dvd_player") %>
              <li> <i class="fa fa-circle" aria-hidden="true"></i>
                Dvd Player
              </li>
            <% end %>
            <% if vehicule.amenities.include?("am_fm_radio") %>
              <li> <i class="fa fa-microphone" aria-hidden="true"></i>
                AM/FM Radio
              </li>
            <% end %>
            <% if vehicule.amenities.include?("cooler") %>
              <li> <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                cooler
              </li>
            <% end %>
            <% if vehicule.amenities.include?("nav_system") %>
              <li> <i class="fa fa-location-arrow" aria-hidden="true"></i>
                navigation
              </li>
            <% end %>
            <% if vehicule.amenities.include?("sound_system") %>
              <li> <i class="fa fa-music" aria-hidden="true"></i>
              sound system
              </li>
            <% end %>
            <% if vehicule.amenities.include?("wheelchair") %>
              <li> <i class="fa fa-wheelchair" aria-hidden="true"></i>
                wheelchair
              </li>
            <% end %>
            <% if vehicule.amenities.include?("bluetooth") %>
              <li> <i class="fa fa-bluetooth" aria-hidden="true"></i>
                bluetooth
              </li>
            <% end %>
            <% if vehicule.amenities.include?("cd_player") %>
              <li> <i class="fa fa-circle-o" aria-hidden="true"></i>
                Cd Player
              </li>
            <% end %>
            <% if vehicule.amenities.include?("seats") %>
              <li> <i class="fa fa-user" aria-hidden="true"></i>
                <%= vehicule.seats %> seats
              </li>
            <% end %>
              </ul>
              <a href=<%= vehicule_details_path(vehicule.id) %> class="btn">View Details <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
              <a href=<%= quote_request_path + "#5b" %> class="btn btn-quote">Get a quote</a>
            </div>
          </div>
        <% end %>
       
      </div>
      
      <!--Side-Bar-->
      <aside class="col-md-3 col-md-pull-9">
        <div class="sidebar_widget">
          <div class="widget_heading">  
            <h6><i class="fa fa-filter" aria-hidden="true"></i> Filter By Categories </h6>
          </div>
          <div class="sidebar_filter">
          <div class="form-group ">
            <%= link_to("All", fleet_path , class: "btn btn-primary") %>
          </div>
          <div class="form-group">
            <%= link_to("Sedans", fleet_path(vehicule_type: "sedan"), class: "btn btn-primary") %>
          </div>
          <div class="form-group">
            <%= link_to("Limousines", fleet_path(vehicule_type: "limousine"), class: "btn btn-primary") %>
          </div>
          <div class="form-group">
            <%= link_to("Shuttles", fleet_path(vehicule_type: "shuttle"), class: "btn btn-primary") %>
          </div>
          <div class="form-group">
            <%= link_to("Buses", fleet_path(vehicule_type: "bus"), class: "btn btn-primary") %>
          </div>

          </div>
        </div>
      
      </aside>
      <!--/Side-Bar--> 
    </div>
  </div>
</section>
<!-- /Listing--> 