<!--Banner-->
<section id="banner2">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     <!-- Wrapper for slides -->
     <div class="carousel-inner">
          <!--item-1-->
        <!--item-2-->
        <div class="item active">
            <img src="assets/images/newhome-slider2.jpg" alt="image">
            <div class="carousel-caption">
              <div class="banner_text text-center div_zindex white-text">
                  <h1>Corporate Services and VIP</h1>
                  <a href="#" class="btn">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/newhome_slider_downtown_night.jpg" alt="image">
            <div class="carousel-caption">
              <div class="banner_text text-center div_zindex white-text">
                  <h1>Night Out and Special Event. </h1>
                  <a href="#" class="btn">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/newhome-slider4.jpg" alt="image">
            <div class="carousel-caption">
              <div class="banner_text text-center div_zindex white-text">
                  <h1>Tour Buses - College and Government .</h1>
                  <a href="#" class="btn">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/newhome_page_slider_aiport_columbus.jpg" alt="image">
            <div class="carousel-caption">
              <div class="banner_text text-center div_zindex white-text">
                  <h1>Airport Services</h1>
                  <a href="#" class="btn">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/newhome_slider_van.jpg" alt="image">
            <div class="carousel-caption">
              <div class="banner_text text-center div_zindex white-text">
                  <h1>Van Services</h1>
                  <a href="#" class="btn">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/newhome_slider_limo.jpg" alt="image">
            <div class="carousel-caption">
              <div class="banner_text text-center div_zindex white-text">
                  <h1>Limousine Services</h1>
                  <a href="#" class="btn">Read More</a>
              </div>
            </div>
        </div>

        <div class="item">
            <img src="assets/images/newProfile-picture-&-Cover-photo.gif" alt="image">
            <div class="carousel-caption">
              <div class="banner_text text-center div_zindex white-text">
                  <h1>Earn points with every booking</h1>
                  <a href="/customers/sign_up" class="btn">Read More</a>
              </div>
            </div>
        </div>
        
     </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <div class="icon-prev"></div>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <div class="icon-next"></div>
          </a>
    </div>
</section>
<!--/Banner-->


<!-- Filter-Form -->



<!--About-us-->
<section id="about_us" class="section-padding">
  <div class="container">
      <div class="section-header text-center">
          <h2>Welcome to <span style="color:red">Urban </span><span style="color:#052381">Express </span><span>Charter</span></h2>
        </div>
        
        <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="about_info">
                    <div class="icon_box">
                        <i class="fa fa-institution" aria-hidden="true"></i>
                    </div>
                    <h5>Government Transportation</h5>
                    <p>Bus, shuttle, limousine, and sedan transportation for government staff and government contracts. </p>
                    <a href="/services#government-transportation" class="btn">More</a>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
              <div class="about_info" >
                    <div class="icon_box">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </div>
                    <h5>Corporate Transportation</h5>
                    <p>Individual and group transportation for corporate functions and affairs by bus, shuttle, limousine, and sedan . </p>
                    <a href="/services#corporate-transportation" class="btn">More</a>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
              <div class="about_info">
                    <div class="icon_box">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <h5>Event Transportation</h5>
                    <p>Economic limousine, bus, shuttle, and trolley rentals for weddings, parties, and other important events. </p>
                    <a href="/services#event-transportation" class="btn">More</a>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
              <div class="about_info">
                    <div class="icon_box">
                        <i class="fa fa-wheelchair" aria-hidden="true"></i>
                    </div>
                    <h5>Handicap Accessible</h5>
                    <p>We offer vehicles that are wheelchair accessible and include amenities for the disabled. </p>
                    <a href="/services#handicap-transportation" class="btn">More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/About-us-->

<!-- Fun Facts-->
<section class="fun-facts-section">
  <div class="container div_zindex">
    <h3 class="what-we-offer">WHAT WE OFFER</h3>
    <div class="row">
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-m">
          <div class="cell">
            <h2><i class="fa fa-users" aria-hidden="true"></i></h2>
            <p>Quality Customer Service</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-side">Urban Express Charter is proud to offer live personal assistance 24 hours a day, 7 days a week. Someone is always available to assist you with your transportation needs.</div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-m">
          <div class="cell">
            <h2><i class="fa fa-car" aria-hidden="true"></i></h2>
            <p>Professionally Trained Drivers</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-side">All Urban Express Charter drivers have been professionally trained to provide only the most impressive transportation services. UEC drivers will ensure that you arrive at your destination promptly.</div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-m">
          <div class="cell">
            <h2><i class="fa fa-road" aria-hidden="true"></i></h2>
            <p>Nationwide Transportation &nbsp; Services</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-side">Although Urban Express Charter is a Columbus, Ohio based company, we provide our transportation services nationwide.</div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-m">
          <div class="cell">
            <h2><i class="fa fa-percent" aria-hidden="true"></i></h2>
            <p>Minimal Deposit Requirement</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-side">To reserve our limousine, bus, shuttle, trolley, or sedan car rental services Urban Express Charter only requires a small 20% non-refundable deposit.</div>
      </div>  
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<!-- /Fun Facts--> 


<!-- Services -->
<section id="our_services" class="dark-bg vc_row page-header">
  <div class=" col-md-6 vc_col section-padding">
      <div class="our_services white-text">
          <h2>Announcing our new Rewards Program!</h2>
          <p>Urban Express is happy to announce our new Rewards program for our valued customers. <%= link_to "Register",new_customer_registration_path %> with us and <%= link_to "Login", new_customer_session_path %> to access your reward points.</p>
          <div class="services_info">
              <div class="icon_box">
                  <i class="fa fa-money" aria-hidden="true"></i>
              </div>
              <h4>Earn points with every booking</h4>
              <p>With each booking, reward points will be added to your account.</p>
          </div>
          
          <div class="services_info">
              <div class="icon_box">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </div>
              <h4>Use earned points towards future bookings</h4>
              <p>You can redeem points by applying them towards a booking request.</p>
          </div>
      </div>
  </div>
  <div class=" col-md-4 section-padding">
      <div class="contact_form white-text">
        <h2>Contact Us</h2>
        <%= simple_form_for(@contact_us_quote, url: create_contact_us_quote_request_path(), method: :post) do |f| %>
          <%= f.error_notification %>
          <%= f.input :type, as: :hidden %>
          <div class="form-group" style="float:left;width:50%;padding-right:10px;">
            <%= f.input :first_name, required: true, input_html: {class: "form-control white_bg"} %>
          </div>
          <div class="form-group" style="float:left;width:50%;padding-left:10px;">
            <%= f.input :last_name, required: true, input_html: {class: "form-control white_bg"} %>
          </div>
          <div class="form-group" style="float:left;width:50%;padding-right:10px;">
            <%= f.input :email, required: true, input_html: {class: "form-control white_bg"} %>
          </div>
          <div class="form-group" style="float:left;width:50%;padding-left:10px;">
            <%= f.input :phone_number, input_html: {class: "form-control white_bg"} %>
          </div>
          <div class="form-group" style="clear:both;">
            <%= f.input :additional_notes, as: :text, input_html: {class: "white_bg", :cols => 40, :rows => 8 } %>
          </div>
          <div class="row">
            <div class="form-group col-md-8">
              <%= recaptcha_tags %>
            </div>
            <div class="form-group col-md-6">
              <%= f.button :submit, "Send Message"%>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div class="dark-overlay" style="background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;"></div>
</section>
<!-- /Services -->


<!--Testimonial 
<section id="testimonial" class="section-padding">
  <div class="container div_zindex">
    <div class="section-header text-center">
      <h2>Our Testimonial</h2>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    </div>
    <div class="row">
      <div id="testimonial-slider-2">
           <div class="testimonial_wrap">
               <div class="testimonial-heading">
                  <h5>JOHN KEIPPER</h5>
                  <span class="client-designation">Client</span> 
               </div>
               <p>I used Urban Express to take a group down to the Kentucky Derby. Our driver was very professional and delivered us right to the main entrance. I would definitely use them again in the future. The service was great!</p>
           </div>
           
           <div class="testimonial_wrap">
               <div class="testimonial-heading">
                  <h5>JAMAL SALIH </h5>
                  <span class="client-designation">Client</span> 
               </div>
               <p>Great experience with this company I have used many others in columbus but this was by far the best you guys made our trip so easy. Great customer service, wonderful drivers and by far the best and most affordable transportation company I have used in central ohio. Thank you soo much!</p>
           </div>
           
           <div class="testimonial_wrap">

               <div class="testimonial-heading">
                  <h5> LISA SEVOSA</h5>
                  <span class="client-designation">Client</span> 
               </div>
               <p>I hired Urban Express to pick me up at the airport with their Mercedes. I had just got back from a long trip in Germany and was very tired. The driver was on time and extremely courteous and I had no problems at all. I wanted to write a review and share my experience because it was not a good with other Columbus transportation companies.</p>
           </div>
        
      </div>
    </div>
  </div>

</section>
 Testimonial--> 

