<div class="container">
  <h2>Request A Quote</h2>
  <%= simple_form_for(@quote, url: create_quote_request_path, method: :post) do |f| %>
    <%= f.error_notification %>

    <div class="form-first_name">
      <%= f.input :first_name, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-group">
      <%= f.input :last_name, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-first_name">
      <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-group">
      <%= f.input :phone_number, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-first_name">
      <%= f.input :vehicule_type, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
    </div>
    <div class="form-group">
      <%= f.input :number_of_people, required: true, autofocus: true, input_html: {class: "form-control white_bg"} %>
    </div>

    <div class="form-group">
      <%= f.button :submit, "Submit Quote" %>
    </div>
  <% end %>

</div>