<!--Listing-detail-->
<section class="listing-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-6 vehic-name">
        <h3><%= @vehicule.name %></h3>
      </div>
      <div class="col-md-3  vehic-det-quote-btn-div">
        <a href=<%= quote_request_path + "#5b" %> class="btn btn-quote">Get a quote</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="listing_images">
          <div id="listing_images_slider" class="listing_images_slider">
            <div><%=link_to( image_tag(@vehicule.display_image_url()))%></div>
            <% @vehicule.vehicule_images.each do |vec_im| %>
              <div><%=link_to( image_tag(vec_im.photo_url()))%></div>
            <% end %>
          </div>
          <div id="listing_images_slider_nav" class="listing_images_slider_nav">
            <div><%=link_to( image_tag(@vehicule.display_image_url()))%></div>
            <% @vehicule.vehicule_images.each do |vec_im| %>
              <div><%=link_to( image_tag(vec_im.photo_url()))%></div>
            <% end %>
          </div>
        </div>
        <div class="main_features">
          <ul>
            <% if @vehicule.amenities.include?("tv") %>
              <li> <i class="fa fa-television" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>flat screen tv</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("bathroom") %>
              <li> <i class="fa fa-bath" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>Bathroom</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("dvd_player") %>
              <li> <i class="fa fa-circle" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>Dvd Player</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("am_fm_radio") %>
              <li> <i class="fa fa-microphone" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>AM/FM Radio</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("cooler") %>
              <li> <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>cooler</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("nav_system") %>
              <li> <i class="fa fa-location-arrow" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>navigation</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("sound_system") %>
              <li> <i class="fa fa-music" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>sound system</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("wheelchair") %>
              <li> <i class="fa fa-wheelchair" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>wheelchair</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("bluetooth") %>
              <li> <i class="fa fa-bluetooth" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>bluetooth</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("cd_player") %>
              <li> <i class="fa fa-circle-o" aria-hidden="true"></i>
                <h5>&#10003</h5>
                <p>Cd Player</p>
              </li>
            <% end %>
            <% if @vehicule.amenities.include?("seats") %>
              <li> <i class="fa fa-user" aria-hidden="true"></i>
                <h5><%= @vehicule.seats %></h5>
                <p>Seats</p>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="listing_more_info">
          <div class="listing_detail_wrap"> 
            <!-- Nav tabs -->
            <ul class="nav nav-tabs gray-bg" role="tablist">
              <li role="presentation" class="active"><a href="#vehicle-overview " aria-controls="vehicle-overview" role="tab" data-toggle="tab">Vehicle Overview </a></li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content"> 
              <!-- vehicle-overview -->
              <div role="tabpanel" class="tab-pane active" id="vehicle-overview">
                <h4>Info</h4>
                <p><%= @vehicule.info %></p>
              </div>
              
            </div>
          </div>
          
           <!--Vehicle-Video-->
          <div class="video_wrap">
            <h6>Watch Video </h6>
            <div class="video-box">
              <iframe class="mfp-iframe" src="https://www.youtube.com/embed/NuJ22GTXc9c" allowfullscreen></iframe>
            </div>
         </div>
          
        </div>
      </div>
      
      <!--Side-Bar-->
      <aside class="col-md-3">
        <div class="sidebar_widget">
          <div class="widget_heading">
            <h6><i class="fa fa-calculator" aria-hidden="true"></i> Others In Category </h6>
          </div>
          <div class="financing_calculatoe">
            <% @other_vehicules.each do |other| %>
              <div class="vehic-detail-side-img">
                <%= link_to( image_tag(other.display_image_url(), size: "220x150"), "/vehicule-details/#{other.id}")if other.display_image? %>
              </div>
            <% end %>
          </div>
        </div>
      </aside>
      <!--/Side-Bar--> 
      
    </div>
    <div class="space-20"></div>
    <div class="divider"></div>
    
  </div>
</section>
<!--/Listing-detail--> 
