<div class="container">
  <p id="notice"><%= notice %></p>

  <dl class="dl-horizontal">
    <dt><strong>Id:</strong></dt>
    <dd><%= @customer.id %></dd>
    <dt><strong>First Name:</strong></dt>
    <dd><%= @customer.first_name %></dd>
    <dt><strong>Last Name:</strong></dt>
    <dd><%= @customer.last_name %></dd>
    <dt><strong>Email:</strong></dt>
    <dd><%= @customer.email %></dd>
    <dt><strong>Date Created:</strong></dt>
    <dd><%= @customer.created_at %></dd>
    <dt><strong>Reset Password:</strong></dt>
    <dd><%= link_to "Reset Password" , send_reset_password_path(@customer), method: :post, data: {confirm: " You are about to send a password reset email, are you sure!"}  %></dd>

  </dl>

  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                customers_path, :class => 'btn'  %>
    <% if current_user.admin? %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_customer_path(@customer), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  customer_path(@customer),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>