<!DOCTYPE HTML>
<html lang="en">
<head>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>Urban Express Charter</title>
        
<!-- Fav and touch icons -->

<!-- Google-Font-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->  

 <script type="text/javascript">
      var widgetId1;
      var widgetId2;
      var onloadCallback = function() {
        // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
        // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
        widgetId1 = grecaptcha.render('example1', {
          'sitekey' : "<%= ENV['RECAPTCHA_SITE_KEY'] %>",
          'theme' : 'light'
        });
        widgetId2 = grecaptcha.render(document.getElementById('example2'), {
          'sitekey' : "<%= ENV['RECAPTCHA_SITE_KEY'] %>",
          'theme' : 'light'
        });
        grecaptcha.render('example3', {
          'sitekey' : "<%= ENV['RECAPTCHA_SITE_KEY'] %>",
          'theme' : 'light'
        });
        grecaptcha.render('example4', {
          'sitekey' : "<%= ENV['RECAPTCHA_SITE_KEY'] %>",
          'theme' : 'light'
        });
        grecaptcha.render('example5', {
          'sitekey' : "<%= ENV['RECAPTCHA_SITE_KEY'] %>",
          'theme' : 'light'
        });
      };
    </script>
    <% unless current_user %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-97696807-1', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>
  <%= stylesheet_link_tag "application", media: "print" %>
</head>
<body>

<!--Header-->
<header>
  <div class="default-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div class="logo"> <a href="/"><img src="/assets/logo.jpg" alt="image"/></a> </div>
        </div>
        <div class="col-sm-9 col-md-10">
          <div class="header_info">
            <div class="header_widgets">
              <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
              <p class="uppercase_text">Contact Information: </p>
              <a href="tel:614-253-7000">Local: (614) 253-7000</a> <br/>
              <a href="tel:877-840-0411">Toll Free: (877) 840-0411</a>
            </div>
            <div class="header_widgets">
              <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
              <p class="uppercase_text">For Support Mail us : </p>
              <a href="mailto:info@example.com">info@urbanexpresscharter.com</a>
              <a href="tel:614-253-3010">Fax: (614) 253-3010</a>
            </div>
            <div class="social-follow">
              <% unless customer_signed_in? %>
              <div class="login_btn"> <a href="/customers/sign_in" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Login/Register</a> </div>
            <% end%>
              <ul>
                <li><a href="http://www.facebook.com/Urbanexpress.biz"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/111571640918278651595/about"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Navigation -->
  <nav id="navigation_bar" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="header_wrap">
        <% if customer_signed_in? %>
          <div class="user_login">
            <ul>
              <li class="dropdown"> <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> <%= current_customer.full_name %> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="/profile-settings">Profile Settings</a></li>
                  <li><a href="<%= change_password_path %>">Change Password</a></li>
                  <li><a href="/history">History/My Reward Points</a></li>
                  <li><%= link_to("Sign Out", destroy_customer_session_path, method: :post) %></li>
                </ul>
              </li>
            </ul>
          </div>
        <% end%>
        <!--<div class="header_search">
          <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
          <form action="#" method="get" id="header-search-form">
            <input type="text" placeholder="Search..." class="form-control">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>-->
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li <%= "class=active" if @current_menu_item == "home"%> ><a href="/"  aria-haspopup="true" aria-expanded="false">Home</a></li>
          <li <%= "class=active" if @current_menu_item == "fleet"%>><a href="/fleet">Fleet</a></li>
          <li <%= "class=active" if @current_menu_item == "services"%>><a href="/services">Services</a></li>
          <li <%= "class=active" if @current_menu_item == "request_quote"%>><a href=<%= quote_request_path %>>Request a Quote</a></li>
          <li <%= "class=active" if @current_menu_item == "jobs"%>><a href="/jobs">Jobs</a></li>
          <!--<li <%#= "class=active" if @current_menu_item == "about_us"%>><a href="/about-us">About Us</a></li>-->
          <li <%= "class=active" if @current_menu_item == "contact_us"%>><a href="/contact-us">Contact Us</a></li>
          <% if user_signed_in?  %>
            <li class="<%= 'active' if @current_menu_item == 'admin'%> dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
              <ul class="dropdown-menu">
                <li><%= link_to "my quotes", my_quotes_path %></li>
                <% if current_user.admin?  %>
                  <li><%= link_to "all quotes", quotes_path %></li>
                  <li><%= link_to "user management", users_path %></li>
                  <li><%= link_to "customer management", customers_path %></li>
                  <li><%= link_to "fleet management", vehicules_path %></li>
                  <li><%= link_to "job applicants", applicants_path %></li>
                <% end %>
                <li><%= link_to "training videos", training_videos_path %></li>
                <li><%= link_to("Sign Out", destroy_user_session_path, method: :post) %></li>
              </ul>
            </li>
          <% end %>
         </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation end --> 
  
</header>
<!-- /Header --> 
<%= flash_messages %>
<% if current_customer and current_customer.has_invoices_due? %>
  <div class="outer-customer-notification" style="background-color:#e9f71a">
    <div class="customer-notification alert" style="margin:auto;padding-bottom:8px;">
        <h3>You have invoice(s) due. <u><%= link_to "Click Here To View.", show_unpaid_customer_invoices_path  %></u></h3>
    </div>
  </div>
<% end %>
<%= yield %>

<!--Footer -->
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <h6><%= link_to "Home", home_path %></h6>
          </li>
          <li>
            <h6><%= link_to "Fleet", fleet_path %></h6>
          </li>
          <li>
            <h6><%= link_to "Services", services_path %></h6>
          </li>
          <li>
            <h6><%= link_to "Request A Quote", quote_request_path %></h6>
          </li>
          <li>
            <h6><%= link_to "Jobs", jobs_path %></h6>
          </li>
          <!--<li>
            <h6><%#= link_to "About Us", about_us_path %></h6>
          </li> -->
          <li>
            <h6><%= link_to "Contact Us", contact_us_path %></h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-push-8 text-right">
          <div class="footer_widget">
            <p>Connect with Us:</p>
            <ul>
              <li><a href="http://www.facebook.com/Urbanexpress.biz"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="https://plus.google.com/111571640918278651595/about"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-md-pull-6">
          <p class="copy-right">Copyright &copy; 2017 Urban Express Charter</p>
        </div>
        <div class="col-md-4 col-md-pull-4">
          <%= image_tag( '/assets/cbbb-badge-horz.png') %>
          <%= link_to("Admin", new_user_session_path, class: "adm-log btn") unless current_user %>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer--> 

<!--Back to top-->
<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
<!--/Back to top-->
<%= javascript_include_tag 'application' %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</body>
</html>